.bp-ning-import-success-users, .bp-ning-import-error-users {
	padding: 10px 20px;
	border-bottom-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-style: solid;
	border-width: 1px;
	border-top-left-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
}

.bp-ning-import-success-users {
	background-color: #fffbe4;
	border-color: #dfdfdf;
}

.bp-ning-import-error-users {
	background-color: #ffebe8;
	border-color: #c00;
}

.bp-ning-import-error-message {
	font-weight: bold;
}

.buddypress_page_import-from-ning-bp-functions .wrap ul {
	list-style-type: disc;
	padding-left: 30px;
}

.donate-nag {
	display: block;
	float: right;
	width: 500px;
	border: 2px solid #666;
	background: #fff;
	padding: 20px;
	margin: 15px;
}

.donate-nag h3 {
	color: #444;
}