.bp-ning-import-success-users, .bp-ning-import-error-users {
	padding: 10px 20px;
	border-bottom-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-style: solid;
	border-width: 1px;
	border-top-left-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
}

.bp-ning-import-success-users {
	background-color: #fffbe4;
	border-color: #dfdfdf;	
}

.bp-ning-import-error-users {
	background-color: #ffebe8;
	border-color: #c00;
}

.bp-ning-import-error-message {
	font-weight: bold;
}